@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  /*width: 100%;*/
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  background-color: #abd2fa;
}
.navbar h1 {
  color: #010085;
}
.navbar .links {
  margin-left: auto;
  margin-right: 35px;
}
.navbar a {
  margin-left: 10px;
  text-decoration: none;
  padding: 6px;
  color: #010085;
  font-weight: bold;
  font-size: 20px;
}
.navbar a:hover {
  background-color: #ffc300;
  color:#f2f2f2;
  border-radius: 10px;
  border: 1px solid #ffc300;
}
/*.content {*/
/*  !*max-width: 600px;*!*/
/*  !*margin: 40px auto;*!*/
/*  !*padding: 20px;*!*/
/*}*/

.navbar .santulogo {
  width: 30px;
  height: 30px;
}

.footer {
  padding: 20px;
  display: flex;
  justify-content: center; /* Adjust to space the items out */
  align-items: center;           /* Center items vertically */
  width: 100%;
  height: 2%;
  margin: 0 auto;
  border-top: 1px solid #f2f2f2;
  background-color: #38b6ff;
  
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
}

.footer .socials {
  padding-left: 10px;
  padding-right: 10px;
}

.footer .fblogo {
  width: 30px;
  height: 30px;
}

.footer .nameS {
  color: #010085;
  font-weight: bold;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.base {
  align-items: stretch;  /* Stretch divs to full height */
  flex-basis: 100%;
  width: 100%;  /* Ensure the container takes up the full width of the page */
  height: 100vh;  /* Ensure the container takes up the full height of the viewport */
  background-color: #fffcf0;
}

.baseFlex {
  display: flex;  /* Flexbox on the child container */
  width: 100%;  /* Ensure it spans the whole width */
  border-bottom: #010085;
  border-bottom: 50px solid #007eff;
}

.vision {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.eb-column {
  width: 60%;
}

.eb-column img {
    width: 100%;  /* Image will fill the ebimg div */
    height: auto;
    display: block;  /* Prevent image from overflowing */
}

.block1 {
  /* width: 25%; */
  height: auto;
}

.baseEb {
  width: 100%;  /* Image will fill the ebimg div */
  height: auto;
}

.vis1 {
  font-style: bold;
  color: #010085;
  font-size: 40px;
  word-spacing: px;
}

.vis2 {
  color: #50a5fd;
  font-size: 55px;
}

.visionWords h1 {
  margin-block-start: -0.3em;
}

.baseSpeech {
  font-size: 13px;
  color: #010085;
  margin-bottom: 7px;
}

.baseSpeechContainer {
  padding: 20px;
}

.home {
  display: flex;
  justify-content: center;
  max-width: 80vw; /* Restrict width of .home container */
  margin: 0 auto;
  padding: 20px;
}

.collegesFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.threeC, .twoC {
  display: flex;
  justify-content: center; /* Center images within each row */
  width: 100%;
  gap: 5px; /* Reduce the gap to make images closer */
}

.threeC img, .twoC img {
  max-width: 350px; /* Set a fixed size for images */
  width: 100%;
  height: auto;
}


